/* Space out content a bit */
body {
  /*padding-top: 20px;
  padding-bottom: 20px;*/
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    /*max-width: 730px;*/
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


/*** extend bootstrap styles  ***/
/**  ------------------------- **/

/* navbar titles and other text */
.navbar-nav .nav-question {
  float: none;
  clear: both;
}
.nav-question h4, .nav-question h5 {
  color: #fff;
  font-weight: lighter;
  letter-spacing: .1em;
  margin: .25em 0;
}

.nav-question h5 {
  margin-top: 1em;
}

.navbar-brand img {
  width:100%;
}
/* navbar icons */
.navbar-form .btn-group .btn  {
  border: none;
  color: #fff;
  line-height: 1;
  /*margin-right: .25em;*/
}

.navbar-form .btn-group .btn span[class*="icon-"] {
  color: #fff;
  font-size: 4em;
}

.navbar-form .btn-group.misc-icons .btn {
  background-color: transparent;
}

.navbar-form .btn-group.misc-icons .btn span[class*="icon-"] {
  font-size: 2em;
}

.navbar-form .btn-group .btn .label-text {
  font-size: 1.1em;
  display: block;
  padding: .5em .5em 0;
}

.navbar-form .btn-group.select-priority {
  border-radius: 4px;
}

.navbar-form .btn-group.select-priority .btn {
  padding: 4px .3em;
  background-color: #fc9206;
}

.navbar-form .btn-group.select-priority .btn.active {
  background-color: #ed6d15;
}

.navbar-form .btn-group.select-mode {
  background-color: transparent;
  border-radius: 100px;
}

.navbar-form .btn-group.select-mode .btn {
  padding: .5em 1em;
  background-color: transparent;
  border-radius: 100px;
}

.navbar-form .btn-group.select-mode > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle),
.navbar-form .btn-group.select-mode > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-radius: 100px!important;
}

.navbar-form .btn-group.select-mode .btn.active {
  background-color: #71ccff;
}

.navbar-form button[type="submit"] {
  color: #fff;
  font-size: 1em;
  background-color: transparent;
  border-color: #fff;
}

.form-control::-webkit-input-placeholder {
  color: #ccc;
  font-style: italic;
  font-weight: normal;
}


/**** MAP !!!! ******/
#map {
  position: absolute!important;
}


/**** MODALS!!!! ********/
.modal-backdrop {
  display: none!important;
}

#annotation-dialog .modal-dialog {
  top: 75px;
  left: 25px;
  float: left;
}
