
<div>

  <div class="modal fade" id="annotation-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">&times;</button>
          <button type="button" class="btn orange-btns">RATE IT!</button>
          <h4 class="modal-title">What others are saying...</h4>
        </div>
        <div class="modal-body">
          <div class="noclick-icons"><span class="icon-location"></span><span class="address-caption">123 Candyland Ln</span>
          <br/>
          <span class="icon-time"></span><span class="icon-cost"></span><span class="icon-scenery"></span><span class="icon-difficulty"></span></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Close</button>
          <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Save changes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


  <nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="NavbarCtrl">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="images/mapmymode_logo.png"/></a>
          </div>
        </div>
        <div class="col-sm-10">
          <!-- Collect the nav links, forms, and other content for toggling -->

          <div class="collapse in" id="bs-example-navbar-collapse-1">
            <form class="navbar-form" name = "routeForm" role="search"> <!-- role=form?? -->
              <div class="row">
                <div class="col-sm-5">
                  <div class="nav navbar-nav">
                    <div class="nav-question"><h4>What's important to you?</h4></div>
                    <!-- <li class="active"><a href="#">Link</a></li> -->
                    <div class="btn-group select-priority" >
                      <label class="btn btn-default btn-xs col-xs-3">
                        <input type="radio" name="route-priority" id="time" ng-model = "formOptions.routeType" value = "fastest">
                        <span class="icon-time"></span>
                        <span class="label-text">Fastest</span>
                      </label>
                      <label class="btn btn-default btn-xs col-xs-3">
                        <input type="radio" name="route-priority" id="cost" ng-model = "formOptions.routeType" value = "cheapest">
                        <span class="icon-cost"></span>
                        <span class="label-text">Cheapest</span>
                      </label>
                      <label class="btn btn-default btn-xs col-xs-3">
                        <input type="radio" name="route-priority" id="scenery" ng-model = "formOptions.routeType" value = "scenic">
                        <span class="icon-scenery"></span>
                        <span class="label-text">Scenic</span>
                      </label>
                      <label class="btn btn-default btn-xs col-xs-3">
                        <input type="radio" name="route-priority" id="difficulty" ng-model = "formOptions.routeType" value = "easiest">
                        <span class="icon-difficulty"></span>
                        <span class="label-text">Easiest</span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-sm-5">
                  <div class="nav navbar-nav navbar-left">
                    <div class="nav-question"><h4>What's your mode?</h4></div>
                    <div class="btn-group select-mode">
                      <label class="btn btn-default btn-xs col-xs-3">
                        <input type="checkbox" ng-model = "formOptions.transType.walk">
                        <span class="icon-walk"></span>
                        <span class="label-text">Walk</span>
                      </label>
                      <label class="btn btn-default btn-xs col-xs-3">
                        <input type="checkbox"  ng-model = "formOptions.transType.bike">
                        <span class="icon-bike"></span>
                        <span class="label-text">Bike</span>
                      </label>
                      <label class="btn btn-default btn-xs col-xs-3">
                        <input type="checkbox" ng-model = "formOptions.transType.bus">
                        <span class="icon-bus"></span>
                        <span class="label-text">Bus</span>
                      </label>
                      <label class="btn btn-default btn-xs col-xs-3">
                        <input type="checkbox" ng-model = "formOptions.transType.drive">
                        <span class="icon-car"></span>
                        <span class="label-text">Drive</span>
                      </label>                   
                    </div><!-- /input-group -->
                  </div><!-- /navbar-nav -->
                  <!-- <ul class="nav nav-pills pull-right">
                  <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
                      <a ng-href="{{item.link}}">{{item.title}}</a>
                  </li>
                </ul> -->
                </div><!-- col-sm-5 -->
                <div class="col-sm-2">
                  <div class="nav-question"><h4>&nbsp;</h4></div>
                  <div class="btn-group misc-icons">
                    <button type="button" class="btn btn-default btn-xs">
                      <span class="icon-info"></span>
                    </button>
                  </div>
                </div>
              </div><!-- /row -->

              <!-- input address start and end -->
                
              <div class="row">
                <div class="col-sm-5">
                  <div class="nav-question"><h5>Where are you?</h5></div>
                  <input type="text" class="form-control" placeholder="123 Candyland Ln, Asheville NC" ng-model = "formOptions.origin">
                </div>
                <div class="col-sm-5">
                  <div class="nav-question"><h5>Where are you going?</h5></div>
                  <input type="text" class="form-control" placeholder="1313 Mockingbird Ln, Asheville NC" ng-model = "formOptions.destination">
                </div>
                <div class="col-sm-2">
                  <div class="nav-question"><h5>&nbsp;</h5></div>
                  <button type="submit" ng-click = "goGetRoute(formOptions)" class="btn btn-default">GO!</button>
                </div>
              </div>

              
                
            </form>
          </div><!-- /.navbar-collapse -->
        </div><!-- /col-sm-10 -->
      </div><!-- /row -->
    </div><!-- /.container-fluid -->
  </nav>

  <div id="map" style = "height : 970px; width : 100%"></div>
</div>
